<html>

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <style type="text/css">
    
        ol {
            margin: 0;
            padding: 0
        }

        table td,
        table th {
            padding: 0
        }

        .c5 {
            border-right-style: solid;
            padding: 5px 5px 5px 5px;
            border-bottom-color: #000000;
            border-top-width: 0px;
            border-right-width: 0px;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 0px;
            border-top-style: solid;
            background-color: #ffe599;
            border-left-style: solid;
            border-bottom-width: 0px;
            width: 105.8px;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c19 {
            border-right-style: solid;
            padding: 5px 5px 5px 5px;
            border-bottom-color: #000000;
            border-top-width: 0px;
            border-right-width: 0px;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 0px;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 0px;
            width: 241px;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c9 {
            border-right-style: solid;
            padding: 5px 5px 5px 5px;
            border-bottom-color: #000000;
            border-top-width: 0px;
            border-right-width: 0px;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 0px;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 0px;
            width: 105.8px;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c31 {
            border-right-style: solid;
            padding: 5px 5px 5px 5px;
            border-bottom-color: #000000;
            border-top-width: 0px;
            border-right-width: 0px;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 0px;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 0px;
            width: 58.5px;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c34 {
            border-right-style: solid;
            padding: 5px 5px 5px 5px;
            border-bottom-color: #000000;
            border-top-width: 1px;
            border-right-width: 1px;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 1px;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1px;
            width: 231px;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c18 {
            border-right-style: solid;
            padding: 5px 5px 5px 5px;
            border-bottom-color: #000000;
            border-top-width: 0px;
            border-right-width: 0px;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 0px;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 0px;
            width: 53.2px;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c12 {
            border-right-style: solid;
            padding: 5px 5px 5px 5px;
            border-bottom-color: #000000;
            border-top-width: 1px;
            border-right-width: 1px;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 1px;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1px;
            width: 115.5px;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c8 {
            color: #0c343d;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 14px;
            font-family: "Arial";
            font-style: normal
        }

        .c15 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11px;
            font-family: "Arial";
            font-style: normal
        }

        .c14 {
            color: #666666;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 8px;
            font-family: "Arial";
            font-style: normal
        }

        .c3 {
            padding-top: 0px;
            padding-bottom: 0px;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left;
            height: 11px
        }

        .c0 {
            padding-top: 0px;
            padding-bottom: 0px;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: center
        }

        .c6 {
            padding-top: 12px;
            padding-bottom: 12px;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c28 {
            padding-top: 0px;
            padding-bottom: 0px;
            line-height: 1.5;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c29 {
            padding-top: 18px;
            padding-bottom: 4px;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: center
        }

        .c22 {
            padding-top: 12px;
            padding-bottom: 12px;
            line-height: 1.5;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c21 {
            padding-top: 0px;
            padding-bottom: 0px;
            line-height: 1.15;
            text-align: left;
            height: 11px
        }

        .c11 {
            margin-left: 14.2px;
            padding-top: 0px;
            padding-bottom: 0px;
            line-height: 1.15;
            text-align: left
        }

        .c7 {
            padding-top: 0px;
            padding-bottom: 0px;
            line-height: 1.0;
            text-align: left;
            height: 11px
        }

        .c27 {
            text-decoration: none;
            vertical-align: baseline;
            font-family: "Arial";
            font-style: normal
        }

        .c17 {
            border-spacing: 0;
            border-collapse: collapse;
            margin-right: auto
        }

        .c23 {
            padding-top: 0px;
            padding-bottom: 0px;
            line-height: 1.0;
            text-align: left
        }

        .c30 {
            background-color: #ffe599;
            color: #980000;
            font-weight: 400;
            font-size: 8px
        }

        .c2 {
            padding-top: 0px;
            padding-bottom: 0px;
            line-height: 1.0;
            text-align: center
        }

        .c35 {
            background-color: #ffe599;
            font-size: 8px;
            color: #980000
        }

        .c1 {
            background-color: #ffffff;
            max-width: 482.1px;
            padding: 28.3px 56.7px 28.3px 56.7px
        }

        .c24 {
            font-size: 17px;
            color: #0c343d
        }

        .c4 {
            border: 1px solid black;
            margin: 5px
        }

        .c33 {
            color: #000000;
            font-size: 11px
        }

        .c36 {
            height: 18.9px
        }

        .c25 {
            height: 11px
        }

        .c20 {
            font-weight: 700
        }

        .c13 {
            height: 0px
        }

        .c26 {
            height: 250.8px
        }

        .c16 {
            height: 22.4px
        }

        .c10 {
            height: 81.8px
        }

        .c32 {
            height: 192.1px
        }

        .title {
            padding-top: 0px;
            color: #000000;
            font-size: 26px;
            padding-bottom: 3px;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .subtitle {
            padding-top: 0px;
            color: #666666;
            font-size: 15px;
            padding-bottom: 16px;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        li {
            color: #000000;
            font-size: 11px;
            font-family: "Arial"
        }

        p {
            margin: 0;
            color: #000000;
            font-size: 11px;
            font-family: "Arial"
        }

        h1 {
            padding-top: 20px;
            color: #000000;
            font-size: 20px;
            padding-bottom: 6px;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h2 {
            padding-top: 18px;
            color: #000000;
            font-size: 16px;
            padding-bottom: 6px;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h3 {
            padding-top: 16px;
            color: #434343;
            font-size: 14px;
            padding-bottom: 4px;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h4 {
            padding-top: 14px;
            color: #666666;
            font-size: 12px;
            padding-bottom: 4px;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h5 {
            padding-top: 12px;
            color: #666666;
            font-size: 11px;
            padding-bottom: 4px;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h6 {
            padding-top: 12px;
            color: #666666;
            font-size: 11px;
            padding-bottom: 4px;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2; 
            text-align: left
        }

        .img_class {
            width: 601.70px;
            height: 338.67px;
            margin-left: 0.00px;
            margin-top: 0.00px;
        }
    </style>
</head>

<body class="c1 doc-content ol">
    <div>
        <p class="c0 c25"><span class="c8"></span></p>
        <p class="c3"><span class="c15"></span></p>
    </div>
    <p class="c0"><span
            style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 601.70px; height: 338.67px;">
            <img alt="" src="data:image/png;base64, <%= cameraImageBase64 %>" class="img_class" title="" />
        </span>
    </p><a id="t.942613052c7ab3f1c05c83febc28704e058b4164"></a><a id="t.0"></a>
    <table class="c17">
        <tr class="c26">
            <td class="c19" colspan="1" rowspan="1">
                <h2 class="c29" id="h.vr3ewljb6p8j"><span class="c20 c24">
                        <%= imageTitle %>
                    </span><sup><a href="#cmnt1" id="cmnt_ref1">[a]</a></sup></h2><a
                    id="t.dd154970e601d41b723829d3cf89e0c0889bc775"></a><a id="t.1"></a>
                <table class="c17">
                    <tr class="c36">
                        <td class="c31" colspan="1" rowspan="1">
                            <p class="c2"><span class="c14">
                                    <%= fileType %>
                                </span></p>
                        </td>
                        <td class="c18" colspan="1" rowspan="1">
                            <p class="c2"><span class="c14">
                                    <%= fileSize %>
                                </span></p>
                        </td>
                        <td class="c9" colspan="1" rowspan="1">
                            <p class="c2"><span class="c14">Uploaded: <%= uploadedDate %></span></p>
                        </td>
                    </tr>
                    <tr class="c13">
                        <td class="c31" colspan="1" rowspan="1">
                            <p class="c2"><span class="c14">
                                    <%= colorMode %>
                                </span></p>
                        </td>
                        <td class="c18" colspan="1" rowspan="1">
                            <p class="c23"><span class="c14">
                                    <%= orientation %>
                                </span></p>
                        </td>
                        <td class="c5" colspan="1" rowspan="1">
                            <p class="c2"><span class="c20 c35">Camera Model/Make</span><sup><a href="#cmnt2"
                                        id="cmnt_ref2">[b]</a></sup><span class="c27 c30">&nbsp;</span></p>
                        </td>
                    </tr>
                </table>
                <p class="c22"><span class="c20">Alt Text :</span><span class="c15">&nbsp;
                        ___________________________</span></p>
                <p class="c6"><span class="c20">Keywords : </span><span
                        class="c15">____________________________________</span></p>
                <p class="c6"><span class="c15">____________________________________</span></p>
                <p class="c6"><span>____________________________________</span></p>
            </td>
            <td class="c19" colspan="1" rowspan="1">
                <p class="c6"><span class="c20">Cognitive Metadata : </span><span
                        class="c15">____________________________________</span></p>
                <p class="c6"><span class="c15">____________________________________</span></p>
                <p class="c6"><span class="c15">____________________________________</span></p>
                <p class="c6"><span class="c27 c20 c33">Comments :</span></p><a
                    id="t.1aebe24dda1b56316fca09844ec7bf63e4290b0d"></a><a id="t.2"></a>
                <table class="c17">
                    <tr class="c10">
                        <td class="c34" colspan="1" rowspan="1">
                            <p class="c7"><span class="c15"></span></p>
                        </td>
                    </tr>
                </table>
                <p class="c7"><span class="c8"></span></p>
            </td>
        </tr>
    </table>
    <p class="c28"><span class="c8">GIS Data From esri.</span></p><a
        id="t.d05864ce163d23703445e395813e60d06442f0ce"></a><a id="t.3"></a>
    <table class="c17">
        <tr class="c32">
            <td class="c19" colspan="1" rowspan="1">
                <p class="c0"><span
                        style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 303.11px; height: 218.74px;"><img
                            alt="" src="<%= geoLocationImageBase64 %>"
                            style="width: 303.11px; height: 218.74px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);"
                            title=""></span></p>
            </td>
            <td class="c19" colspan="1" rowspan="1">
                <p class="c7"><span class="c15"></span></p><a id="t.0fbd18dd2f2c0c268211a63f51dad7de67117267"></a><a
                    id="t.4"></a>
                <table class="c17">
                    <tr class="c13">
                        <td class="c12" colspan="1" rowspan="1">
                            <p class="c11"><span class="c15">Latitude</span></p>
                        </td>
                        <td class="c12" colspan="1" rowspan="1">
                            <p class="c21"><span class="c15">
                                    <%= latitude %>
                                </span></p>
                        </td>
                    </tr>
                    <tr class="c16">
                        <td class="c12" colspan="1" rowspan="1">
                            <p class="c11"><span class="c15">Longitude</span></p>
                        </td>
                        <td class="c12" colspan="1" rowspan="1">
                            <p class="c21"><span class="c15">
                                    <%= longitude %>
                                </span></p>
                        </td>
                    </tr>
                    <tr class="c13">
                        <td class="c12" colspan="1" rowspan="1">
                            <p class="c11"><span class="c15">Area Deployed</span></p>
                        </td>
                        <td class="c12" colspan="1" rowspan="1">
                            <p class="c21"><span class="c15">
                                    <%= areaDeployed %>
                                </span></p>
                        </td>
                    </tr>
                    <tr class="c13">
                        <td class="c12" colspan="1" rowspan="1">
                            <p class="c11"><span class="c15">Cam Height</span></p>
                        </td>
                        <td class="c12" colspan="1" rowspan="1">
                            <p class="c21"><span class="c15"><span style="color:white">es.Zapene.Cam.Height</span></p>
                        </td>
                    </tr>
                    <tr class="c13">
                        <td class="c12" colspan="1" rowspan="1">
                            <p class="c11"><span class="c15">Cam Attached To</span></p>
                        </td>
                        <td class="c12" colspan="1" rowspan="1">
                            <p class="c21"><span class="c15"></span></p>
                        </td>
                    </tr>
                    <tr class="c13">
                        <td class="c12" colspan="1" rowspan="1">
                            <p class="c11"><span class="c15">Cam Settings</span></p>
                        </td>
                        <td class="c12" colspan="1" rowspan="1">
                            <p class="c21"><span class="c15"></span></p>
                        </td>
                    </tr>
                </table>
                <p class="c7"><span class="c15"></span></p>
            </td>
        </tr>
    </table>
    <p class="c3"><span class="c15"></span></p>
    <div class="c4">
        <p class="c23"><a href="#cmnt_ref1" id="cmnt1">[a]</a><span class="c15">Filled in during document creation and
                not editable during signing or verification</span></p>
    </div>
    <div class="c4">
        <p class="c23"><a href="#cmnt_ref2" id="cmnt2">[b]</a><span class="c15">To be populated from Survey123. May be
                editable</span></p>
    </div>
</body>

</html>